[workspace]

members = [
    "ivm-compile",
    "ivm-core",
    "ivm-vm",
    "ivm-ir"
]

exclude = [
    "examples/sus",
    "examples/helloworld"
]

[profile.release]
codegen-units = 1
opt-level = 3
strip = true
panic = "abort"
lto = "fat"
